<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Item</title>
  <script src="./vendors/angular.min.js" charset="utf-8"></script>
  <script src="./scripts/script.js" charset="utf-8"></script>
  <link rel="stylesheet" href="./vendors/bootstrap.min.css">
</head>
<body ng-app="myApp">
  <div class="container">
    <div ng-controller="AddItemController" ng-click="itemAddSuccess=false">
      <h1 class="text-center">Add Item</h1>
      <form ng-submit="addItem()">
        <div class="form-group">
          <label>Description:</label>
          <input ng-model="descriptionIn" type="text" placeholder="item description" class="form-control">
        </div>
        <div class="form-group">
          <label>Image Url:</label>
          <input ng-model="imageUrlIn" type="text" placeholder="image url" class="form-control">
        </div>
        <button type="submit" name="button" class="btn btn-success">Add Item</button>
        <div ng-show="itemAddSuccess" class="alert alert-success">
          <p>Item Added!</p>
        </div>
      </form>
    </div>
    <hr>
    <a href="/home"><button type="button" class="btn btn-primary">View Shelf</button></a>
  </div>
</body>
</html>
