<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Item</title>
  <script src="./vendors/angular.min.js" charset="utf-8"></script>
  <script src="./scripts/script.js" charset="utf-8"></script>
</head>
<body ng-app="myApp">
  <h1>Add Item</h1>
  <div ng-controller="AddItemController">
    <form ng-submit="addItem()">
      <input ng-model="descriptionIn" type="text" placeholder="item description">
      <input ng-model="imageUrlIn" type="text" placeholder="image url">
      <button type="submit" name="button">Add Item</button>
    </form>
  </div>
</body>
</html>
