<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body ng-app="myApp" class="container">
    <div ng-controller="HomeController" ng-init="init()">
      <div class="container">
        <h1 class="text-center">Tau Shelf</h1>
        <div class="clearfix">
          <a href="/addItems"><button type="button" class="btn btn-primary pull-right add-item-btn">Add Item to Shelf</button></a>
        </div>
        <div class="row">
          <div ng-repeat="item in items" class="col-sm-2">
            <img ng-src="{{item.img_url}}" alt="{{item.description}}" class="img-responsive">
            <div class="text-center">
              <p>{{item.description}}</p>
              <p>-{{item.placer}}</p>
              <button ng-click="deleteItem(item._id)" ng-show="verifyUsername (item.placer, username)" type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
          <img src="../images/shelf.jpg" alt="shelf" class="shelf-img">
        </div>
        <div  class="usernames-div text-center" ng-show="showUsersDiv">
          <h4>Registered Users:</h4>
          <div ng-repeat="user in usernames">
            <p>{{user}}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
