<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/script.js" charset="utf-8"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="HomeController" ng-init="init()">
          <h1>Tau Shelf</h1>
          <a href="/addItems"><button type="button">Add Item to Shelf</button></a>
          <hr>
          <div ng-repeat="item in items">
            <img ng-src="{{item.img_url}}" alt="{{item.description}}">
            <p>{{item.description}}</p>
            <p>-{{item.placer}}</p>
            <button ng-show="verified" type="button">Delete</button>
          </div>
    </div>
  </body>
</html>
