<!DOCTYPE html>
<html>
  <head>
    <title>Passport Lecture</title>
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./vendors/bootstrap.min.css">
  </head>
    <body ng-app="myApp">
      <div class="container">
        <h1 class="text-center">Passport Register</h1>
        <form ng-controller="registerController">
          <div class="form-group">
            <label for="username">Username:</label>
            <input ng-model="username" type="text" name="username" id="username" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input ng-model="password" type="password" name="password" id="password" class="form-control"/>
          </div>
          <div>
            <input ng-click="register()" type="submit" value="Register" class="btn btn-success"/>
          </div>
        </form>
      </div>
  </body>
</html>
